@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #66cccb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.bmi-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.left-section {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  z-index: 3;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 150px;
  z-index: 100;
}
.logo:hover {
  opacity: 0.8;
}

.background-image {
  position: absolute;
  width: 480px;
  height: 491px;
  left: -191px;
  top: 522.6px;
  transform: rotate(-29.76deg);
  z-index: 3;
  animation: float 5s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(-29.76deg);
  }
  50% {
    transform: translateY(20px) rotate(-29.76deg);
  }
}
.background-image2 {
  position: absolute;
  width: 380px;
  height: 428.4px;
  bottom: -100px;
  right: -80px;
  z-index: 3;
  transform: rotate(-22.72deg);
  animation: float3 5s ease-in-out infinite;
}
@keyframes float3 {
  0%,
  100% {
    transform: translateY(0) rotate(-22.72deg);
  }
  50% {
    transform: translateY(20px) rotate(-22.72deg);
  }
}
.right-section {
  width: 1000px;
  height: 731px;
  background: #ffffff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
}

.bmi-title {
  font-family: "tupm", sans-serif;
  font-size: 38px;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-top: 110px;
}

.bmi-form {
  width: 83%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.bmi-form input {
  padding: 15px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #cccccc;
  outline: none;
  width: 100%;
  font-family: "Merriweather";
}

.bmi-form input::placeholder {
  color: #a1a1a1;
  font-family: "Merriweather";
}

.calculate-bmi-btn {
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  font-family: "Merriweather";
  background-color: #66cccb;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
}

.calculate-bmi-btn:hover {
  background-color: #55b2b2;
}

.bmi-info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 83%;
  margin: 0 auto;
}

.bmi-categories,
.health-actions {
  width: 48%;
}

.bmi-categories h2,
.health-actions h2 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #1e1e20;
}

.bmi-categories p,
.health-actions ol {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;

  color: #1e1e20;
}

.bmi-categories p span {
  font-weight: bold;
}

.bmi-categories p .underweight {
  color: #3835b5;
}

.bmi-categories p .normal-weight {
  color: #5eab6a;
}

.bmi-categories p .overweight {
  color: #c0934f;
}

.bmi-categories p .obesity {
  color: #e95951;
}
.health-actions-subtitle {
  font-weight: bold;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 5; /* On top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 708px;
  height: 473px;
  background: #ffffff;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.modal-title {
  font-family: "tupm";
  font-size: 32px;
  margin-left: 60px;
  margin-top: 60px;
}
.modal-content p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: light;
  margin-left: 30px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .bmi-container {
    flex-direction: column;
    height: auto;
  }

  .left-section {
    display: none;
  }

  .right-section {
    width: 100%;
    padding: 40px;
    border-radius: 0;
  }

  .bmi-title {
    font-size: 32px;
  }

  .bmi-form {
    max-width: 100%;
  }

  .calculate-bmi-btn {
    font-size: 16px;
    padding: 12px 0;
  }

  .bmi-info {
    flex-direction: column;
    align-items: center;
  }

  .bmi-categories,
  .health-actions {
    width: 100%;
    margin-bottom: 20px;
  }
  .health-actions {
    display: none;
  }
  .background-image {
    display: none;
  }
  .background-image2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .right-section {
    padding: 30px;
  }

  .bmi-title {
    font-size: 2rem;
  }

  .bmi-form input {
    padding: 10px;
    font-size: 0.9rem;
  }

  .calculate-bmi-btn {
    padding: 10px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .right-section {
    padding: 20px;
  }

  .bmi-title {
    font-size: 1.8rem;
  }

  .bmi-form input {
    padding: 8px;
    font-size: 0.8rem;
  }

  .calculate-bmi-btn {
    padding: 8px;
    font-size: 0.8rem;
  }

  .modal-content {
    width: 90%;
    padding: 15px;
    max-width: 708px;
  }
}
.bmi-result {
  font-family: "Montserrat";
  font-weight: bold;
}
.bmi-result p {
  font-family: "Montserrat";
  font-weight: light;
}

.message {
  font-family: "Montserrat";
  font-weight: light;
}

/* BMI category specific message styles */
.short-message,
.healthy-message,
.excess-message,
.obese-message {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 400px;
}

.short-message {
  color: #6563c5;
}

.healthy-message {
  color: #5eab6a;
}

.excess-message {
  color: #c0934f;
}

.obese-message {
  color: #e95951;
}
.save-btn {
  border: none;
  width: 105px;
  height: 37px;
  background: #66cccb;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat";
  transition: all 0.2s linear;
  color: #fff;
  margin-left: 60px;
}

.save-btn:hover {
  background: #e95951;
  border: none;
  color: #fff;
}
