<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Create Account - Health Monitoring</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fit_app/css/signup.css' %}"/>
    <link rel="stylesheet" href="{% static 'fit_app/css/fonts.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'fit_app/assets/img/favicon.png' %}"/>
</head>
<body>
<div class="registration-container">
    <div class="left-section">
        <a href="{% url 'index' %}">
            <img src="{% static 'fit_app/assets/img/logo-white.png' %}" alt="Logo" class="logo"/>
        </a>
        <img
                src="{% static 'fit_app/assets/img/left-heart.png' %}"
                alt="Decorative Hearts"
                class="background-image"
        />
    </div>
    <div class="right-section">
        <h1 class="create-btn">Create Account</h1>
        <div class="social-buttons">
            <!--          <button class="social-btn google">-->
            <!--            <img src="{% static 'fit_app/assets/img/ggl.png' %}" class="google-img" alt="" />-->
            <!--            Continue with Google-->
            <!--          </button>-->
            <a class="social-btn google-fit" href="{% url 'authorize' %}">
                <img src="{% static 'fit_app/assets/img/gglf.png' %}" class="google-img" alt=""/>
                Continue with Google Fit
            </a>
        </div>
        <div class="divider">- OR -</div>

        <!--REGISTRATION FORM-->
        <form class="registration-form" action="/signup/" method="POST">
            {% csrf_token %}

            <input
                    type="text"
                    name="full_name"
                    placeholder="Full Name"
                    required
            />
            <input
                    type="email"
                    name="email"
                    placeholder="Email Address"
                    required
            />
            <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required
            />
            <button
                    type="submit"
                    class="create-account-btn"
            >
                Create Account
            </button>
        </form>
        <!--REGISTRATION FORM-->
        <p class="login-link">
            Already have an account? <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
</div>
<!-- Modal Window -->
<script src="{% static 'fit_app/js/script.js' %}"></script>
</body>
</html>
